# Server Configuration
PORT=3000
NODE_ENV=development

# CORS Configuration
ALLOWED_ORIGINS=https://itb-front.netlify.app,https://your-other-domain.com

# Database Configuration (MongoDB)
MONGODB_URI=mongodb+srv://username:password@cluster.mongodb.net/uniswap_db?retryWrites=true&w=majority

# The Graph Network API Configuration
GRAPH_API_KEY=your_graph_api_key_here

# Pair Addresses 
PAIR_ADDRESS_1=0xbc9d21652cca70f54351e3fb982c6b5dbe992a22  # WETH/RKFL 
PAIR_ADDRESS_2=0xb4e16d0168e52d35cacd2c6185b44281ec28c9dc   # USDC/WETH 

# Scheduling Configuration
SNAPSHOT_INTERVAL_MINUTES=60
INITIAL_HOURS_BACK=48 